<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js" integrity="sha512-z4OUqw38qNLpn1libAN9BsoDx6nbNFio5lA6CuTp9NlK83b89hgyCVq+N5FdBJptINztxn1Z3SaKSKUS5UP60Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <title>Gym Club</title>
    <link rel="shortcut icon" type="img/svg" href="/images/favi.svg">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
</head>
<body class="font">
    <header class="homeheader">
        <a href="/"><img class="logo" src="/Images/GymClub.png"></a>
        <div class="menuflex">
        
              <a class="navBtn font" href="/">Home</a>
              {{#if user_id}}
              <a class="navBtn" href="/user/{{user_id}}">Profile</a>
              {{/if}}
              {{#if logged_in}}
              <a class="navBtn" id="logout-button" href="/">Logout</a>
              {{else}}
              <a class="navBtn" href="/welcome">Login</a>
              {{/if}}
        </div>
    </header>
    {{{ body }}}
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="/js/anime.js"></script>
    <script src="/js/icon.js"></script>
    <script src="/js/exercise.js"></script>
    <script src="/js/comment.js"></script>
    <script src="/js/blog.js"></script>
    <script src="/js/stats.js"></script>
    <script src="/js/user.js"></script>
    <script src="/js/workout.js"></script>
</body>
</html>