<main class="main">
  <section class='background'>
      <img class="square1" src="Images/Square.png">
      <img class="square2" src="Images/Square.png">
      <img class="square3" src="Images/Square.png">
  </section>
  <section class='formContainer font'>
    <form autocomplete="off">
      <p class="login-error font">Incorrect email or password</p>
      <section class="container">
        <label for="email"><b><img class="title" src="/Images/Email.png"></b></label>
        <input class="enterField" id="email-login" type="text" placeholder="Email" name="email" required>
        <label for="psw"><b><img class="title1" src="/Images/password.png"></b></label>
        <input class="enterField" id="password-login" type="password" placeholder="Password (Min 8)" name="psw" required>

        <button type="submit" id="login-button" class="button">Login</button>
        <a href="/welcome"><button type="button" class="button cancel" >Cancel</button></a>
      </section>
    </form>
  </section>
</main>