
<header class="homeheader">
    <img class="logo" src="/Images/GymClub.png">
    <div class="menuflex">
      <div class="menudrop">
          <a href="/">Home</a>
          <a href="/user/{{user_id}}">Profile</a>
          {{#if logged_in}}
          <a id="logout-button" href="/">Logout</a>
          {{else}}
          <a href="/login">Login</a>
          {{/if}}
      </div>
      <a class="menuBtn"><img class="menu" src="/Images/MenuBar.png"></a>
      
    </div>
    
    
</header>

<main class="body">
    <a href="/user/{{id}}">Back</a>
    <a href="/newBlog/{{id}}">New Blog</a>

    <div class="newBlogContainer">
        <h1>Post a Blog!</h1>
        <div class="formDiv">
            <form class="newBlog">
                <label for="Title">Blog Title:</label><br>
                <input type="text" id="Title" name="Title"><br>
                <label for="Description">Description:</label><br>
                <input type="text" id="Description" name="Description">
                <input type="submit" value="Submit">
            </form>
        </div>
        

    </div>

</main>



<script>
    const rotate = 
        anime({ 
        targets: '.menu',
        duration: 300,
        rotate: 180,
        easing: 'linear',
        autoplay: false
        })
    

    const btn = document.querySelector(".menuBtn")

    btn.onclick = rotate.play
      

  </script>

  <script src="./js/blog.js"></script>