
<header class="homeheader">
    <img class="logo" src="/Images/GymClub.png">
    <div class="menuflex">
      
          <a class="navBtn" href="/">Home</a>
          {{#if user_id}}
          <a class="navBtn" href="/user/{{user_id}}">Profile</a>
          {{/if}}
          {{#if loggedIn}}
          <a class="navBtn" href="/">Logout</a>
          {{else}}
          <a class="navBtn" href="/welcome">Login</a>
          {{/if}}
    </div>
</header>

<main class="body">
    <div class="newBlogContainer">
        
        
        <h1 class="blogHeading">Post a Blog!</h1>
        <div class="formDiv">
            <form class="newBlog">
                <label for="Title">Blog Title:</label><br>
                <input type="text" id="Title" name="Title"><br>
                <label for="Description">Description:</label><br>
                <input type="text" id="Description" name="Description"><br><br>
                <a class="btn" href="/userBlogs/{{user_id}}">Back</a>
                <input class="btn" type="submit" id="new-blog-button" value="Submit">
                
            </form>
        </div>
        

    </div>

</main>



<script>
    const rotate = 
        anime({ 
        targets: '.menu',
        duration: 300,
        rotate: 180,
        easing: 'linear',
        autoplay: false
        })
    

    const btn = document.querySelector(".menuBtn")

    btn.onclick = rotate.play
      

  </script>

  <script src="./js/blog.js"></script>