<main class="body">
    <div class="newBlogContainer">
        
        
        <h1 class="blogHeading">Post a Blog!</h1>
        <div class="formDiv">
            <form class="newBlog">
                <label for="Title">Blog Title:</label><br>
                <input type="text" maxlength="30" id="Title" name="Title"><br>
                <label for="Description">Description:</label><br>
                <input type="text" maxlength="100" id="Description" name="Description"><br><br>
                <a class="back-button" href="/userBlogs/{{user_id}}">Back</a>
                <input class="back-button" type="submit" id="new-blog-button" data-new-id="{{user_id}}" value="Submit">
                
            </form>
        </div>
        

    </div>

</main>



<script>
    const rotate = 
        anime({ 
        targets: '.menu',
        duration: 300,
        rotate: 180,
        easing: 'linear',
        autoplay: false
        })

  </script>