<main class="body">
    <div class="newBlogContainer">
        <h1 class="heading">Create a New Workout!</h1>
        <div class="formDiv">
            <form class="newBlog">
                <label class="body-text-forms" for="Title">Workout Title</label><br>
                <input class="input-box" type="text" maxlength="30" id="Title" name="Title"><br><br>
                <label class="body-text-forms" for="Description">Description</label><br>
                <input class="input-box" type="text" maxlength="100" id="Description" name="Description"><br><br>
                <a class="back-button" href="/userWorkouts/{{user_id}}">Back</a>
                <input class="back-button" type="submit" id="new-workout-button" value="Create" data-id="{{user_id}}">
            </form>
        </div>
        

    </div>

</main>

