<div class='formContainer1'>
  <form>
  <div class="container">
    <label for="uname"><b><img class="title2" src="/Images/Username.png"></b></label>
    <input class="enterField" type="text" placeholder="Enter Username" name="uname" required>
    <label for="uname"><b><img class="title" src="/Images/Email.png"></b></label>
    <input class="enterField" type="text" placeholder="Enter Email" name="uname" required>
    <label for="psw"><b><img class="title1" src="/Images/password.png"></b></label>
    <input class="enterField" type="password" placeholder="Enter Password" name="psw" required>
    
    <button type="submit" class="button">Sign Up</button>
    <button type="button" class="button cancel2">Cancel</button>
  </div>
 </form>
</div>