<main class="main">
    <section class='background'>
        <img class="square1" src="Images/square.png">
        <img class="square2" src="Images/square.png">
        <img class="square3" src="Images/square.png">
    </section>
    <div class='formContainer1'>
      <form>
        <p class="signup-error font">Account exists or password is too short</p>
        <section class="container">
          <label for="uname"><b><img class="title2" src="/Images/Username.png"></b></label>
          <input class="enterField" id="username-signup" type="text" placeholder="Enter Username" name="uname" required>
          <label for="email"><b><img class="title" src="/Images/Email.png"></b></label>
          <input class="enterField" id="email-signup" type="text" placeholder="Enter Email" name="email" required>
          <label for="psw"><b><img class="title1" src="/Images/password.png"></b></label>
          <input class="enterField" id="password-signup" type="password" placeholder="Enter Password" name="psw" required>

          <button id="sign-up-button" type="submit" class="button">Sign Up</button>
          <a href="/welcome"><button type="button" class="button cancel2">Cancel</button></a>
        </section>
      </form>
    </div>
</main>