<main class="main">
    <div class='background'>
        <img class="square1" src="Images/square.png">
        <img class="square2" src="Images/square.png">
        <img class="square3" src="Images/square.png">
    </div>
<div class='formContainer1'>
  <form>
  <div class="container">
    <label for="uname"><b><img class="title2" src="/Images/Username.png"></b></label>
    <input class="enterField" type="text" placeholder="Enter Username" name="uname" required>
    <label for="uname"><b><img class="title" src="/Images/Email.png"></b></label>
    <input class="enterField" type="text" placeholder="Enter Email" name="uname" required>
    <label for="psw"><b><img class="title1" src="/Images/password.png"></b></label>
    <input class="enterField" type="password" placeholder="Enter Password" name="psw" required>
    
    <button type="submit" class="button">Sign Up</button>
    <button type="button" class="button cancel2">Cancel</button>
  </div>
 </form>
</div>
</main>

<script>
anime({
    targets: '.square1',
    duration: 30000,
    rotate: 360,
    easing: 'linear',
    loop: true
})
anime({
    targets: '.square2',
    duration: 20000,
    rotate: 360,
    easing: 'linear',
    loop: true
})
anime({
    targets: '.square3',
    duration: 25000,
    rotate: -360,
    easing: 'linear',
    loop: true
})  

</script>
