

.blogHeading {
    font-size: var(--main-headings);
    padding-top: 35px;
    margin: 40px;
    color: var(--main-color-heading);
}

#headingBlog {
    font-weight: 900;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    letter-spacing: 0.7;
}

.blog-layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.individual-blog, .individual-blog2 {
    text-align: center;
    border-style: unset;
    margin: 25px;
    width: 45%;
    width: 600px;
    border-radius: 7px;
    padding: 40px;
    color: rgba(255, 255, 255, 0.877) !important;
    background-color: rgba(5, 3, 36, 0.884);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 100ms ease-in-out;
}

.individual-blog2 {
    width: 55% !important;
    cursor: auto;
}

.individual-blog:hover {
    transform: scale(1.01);
    background-color: rgba(5, 3, 36, 0.774);
}

.blog-heading {
    word-break: break-word;
    color: var(--title-color);
    margin: 40px;
    font-size: var(--title-headings);
    text-decoration: none;
    line-height: 3rem;
}

.aStyle {
    text-align: center;
    text-decoration: none;
    color: var(--title-color) !important;
    width: 50%;
    /* margin-left: 10%; */
}

.aStyle:hover {
    color: rgba(255, 255, 255, 0.568) !important;
}

.dateCreated {
    text-align: center;
    width: 50%;
}