body,
html {
  background-color: rgb(5, 3, 36);
  width: 100%;
}

.border {
  border: 1px solid black;
}

.font {
  font-family: "Roboto", sans-serif;
}

.f100 {
  font-weight: 100;
}

.f300 {
  font-weight: 300;
}

.f400 {
  font-weight: 400;
}

.f500 {
  font-weight: 500;
}

.f700 {
  font-weight: 700;
}

.f900 {
  font-weight: 900;
}

.change-image {
  font-size: 14px;
  cursor: pointer;
  transition: all 100ms ease-in-out;
}

.icon-model {
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.back-button,
#icon-button {
  padding: 15px;
  margin: 10px;
  background-color: rgba(220, 220, 220, 0.384);
  border-radius: 8px;
  cursor: pointer;
  border: none;
  transition: all 100ms ease-in-out;
}

.image-container {
  border-radius: 10px;
  margin: 10px;
  padding: 20px 50px;
  display: flex;
  align-items: center;
  width: 60%;
  overflow-y: hidden;
  background-color: rgba(220, 220, 220, 0.185);
}

.chooseImage {
  width: 200px;
  cursor: pointer;
}

.back-button:hover {
  opacity: 60%;
}

#icon-button:hover {
  opacity: 60%;
}

.change-image:hover {
  opacity: 70%;
}

/* Landing Page */
.main {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.background {
  height: 0px;
}

.square1 {
  position: absolute;
  width: 35%;
  left: -10%;
  top: -5%;
  opacity: 0.5;
}

.square2 {
  position: absolute;
  width: 20%;
  left: 75%;
  top: 33%;
  opacity: 0.5;
}

.square3 {
  position: absolute;
  width: 10%;
  left: 20%;
  top: 80%;
  opacity: 0.5;
}

.container {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.gym-club-img {
  position: relative;
  top: -600px;
  padding-top: 10px;
  width: 350px;
}

#buttons {
  position: relative;
  left: -1000px;
}
.login {
  padding: 20px;
  padding-top: 30px;
  width: 120px;
}

.signUp {
  width: 120px;
}

.guest {
  padding: 20px;
  text-decoration: block;
  color: rgb(134, 6, 6);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.guest:hover {
  transform: scale(1.1);
  text-decoration: block;
  color: rgb(43, 0, 160);
  cursor: pointer;
}

.hover:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.formContainer {
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 307px;
}

.formContainer1 {
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 307px;
}

.title {
  width: 150px;
  padding-top: 50px;
  padding-bottom: 5px;
}

.title1 {
  width: 220px;
  padding-top: 50px;
  padding-bottom: 5px;
}

.title2 {
  width: 250px;
  padding-top: 50px;
  padding-bottom: 5px;
}

.enterField {
  box-shadow: 1px 1px 5px 5px rgb(39, 2, 99);
  border-style: block;
  font-size: 20px;
  color: white;
  width: 300px;
  height: 60px;
  background-color: transparent;
}

.button {
  color: rgb(116, 57, 255);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  background-color: rgb(39, 2, 99);
  border-style: block;
  height: 40px;
  margin-top: 15px;
  width: 150px;
  border-radius: 10px;
}

.button:hover {
  transform: scale(1.2);
  cursor: pointer;
}

/* Home Page */

header {
  background-color: rgb(5, 3, 36);
  position: sticky;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  top: 0px;
  justify-content: space-between;
  width: 100%;
  z-index: 999;
  /* height: 100px */
}

.logo {
  position: relative;
  left: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 300px;
}

.menu {
  position: relative;
  right: 20px;
  margin-top: 40px;
  height: 50px;
  width: 50px;
}

.menuflex {
  display: flex;
  flex-direction: row;
}

.menudrop {
  position: relative;
  top: 55px;
  left: -40px;
}

.menudrop a {
  margin-left: 15px;
}

.blog-para {
  margin-bottom: 30px;
}

.body {
  background-color: rgb(255, 255, 255);
  margin-top: 30px;
  width: 100%;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.body a {
  width: 40%;
}

.body a:hover {
  cursor: pointer;
}

.individual-blog {
  text-align: center;
  border-style: unset;
  margin: 15px;
  width: 45%;
  border-radius: 10px;
  background-color: rgba(233, 84, 84, 0.616);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.individual-blog:hover {
  transform: scale(1.01);
  background-color: rgba(228, 35, 35, 0.747)
}

.blog-heading {
  margin: 20px;
  font-size: 30px;
  text-decoration: none;
  color: rgb(10, 6, 65);
}
.headingA {
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.row {
  text-align: center;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  width: 100%;
}

.aStyle {
  text-align: center;
  text-decoration: none;
  color: rgb(10, 6, 65);
  width: 60%;
  margin-left: 10%;
}

.aStyle:hover {
  color: rgb(61, 51, 201);
}

.dateCreated{
  text-align: center;
  width: 40%

}

/* Individual Blog */

.individual-blog2 {
  text-align: center;
  border-style: unset;
  margin: 15px;
  width: 55%;
  border-radius: 10px;
  background-color: rgba(233, 84, 84, 0.616);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row2 {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  width: 100%
}

.commentSection {
  border-style:inset;
  border-radius: 10px;
  border-color: rgba(233, 84, 84, 0.616);
  width: 55%;
  text-align: center;
  font-size: 20px;
}

.commentSection h1{
  margin-top: 10px;
}

.commentSection a{
  text-decoration: none;
}

.commentSection a:hover{
  text-decoration: none;
  color: #8643d3;
}

.comment {
  font-size: 15px;
  margin: 15px;
}

#comment-box{
  border-radius: 10px;
  min-height: 40px;
  outline: none;
  margin-right: 3px;
  width: 60%
}

.btn {
  padding-top: 10px;
  display: inline-block;
  padding: 0.5em 1.7em;
  margin: 0 0.1em 0.1em 0;
  border: 0.13em solid rgba(238, 67, 67, 0.774);
  background-color: #fdfdfd;
  border-radius: 10px;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 300;
  color: #3b0579;
  text-shadow: 0 0.04em 0.04em rgba(255, 255, 255, 0.253);
  text-align: center;
  transition: all 0.5s;
  cursor: pointer;
  width: 120px
}

.btn:hover {
  color: black;
  background-color: rgba(238, 67, 67, 0.5);
}

#comment-form{
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menuBtn:hover {
  cursor: pointer;
}

/* User Styling */
.userContainer {
  margin-top: 20px;
  border-style: outset;
  border-color: rgba(233, 84, 84, 0.616);
  width: 70%;
  min-height: 350px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.userImage {
  width: 230px;
  height: 250px;
  text-align: center;
}

.theImage {
  width: 100%;
  height: 100%;
}

.userDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.bodyStats {
  display: flex;
  flex-direction: row;
}
.bodyStats h2 {
  margin-right: 10px;
  margin-left: 10px;
}

.details h2 {
  margin-bottom: 30px;
}

.details h2:nth-child(1) {
  margin-top: 17%;
}

.stats {
  display: flex;
  flex-direction: row;
}

.stats h3 {
  margin: 30px;
}

.description {
  text-align: center;
  margin-bottom: 40px;
}

.userBtns{
  text-align: center;
  display: flex;
  flex-direction: row;
  width: 35%
}

.userBtns .btn:nth-child(1){
  margin-left: 10%;
}

.blogHeading{
  font-size: 40px;
  margin: 40px
}

.newBlogBackBtn{
  padding-top: 10px;
  display: inline-block;
  padding: 0.5em 1.7em;
  margin: 0 0.1em 0.1em 0;
  border: 0.13em solid rgba(238, 67, 67, 0.774);
  background-color: #fdfdfd;
  border-radius: 10px;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 300;
  color: #3b0579;
  text-shadow: 0 0.04em 0.04em rgba(255, 255, 255, 0.253);
  text-align: center;
  transition: all 0.5s;
  cursor: pointer;
  width: 10%
}

.newBlogBackBtn:hover{
  color: black;
  background-color: rgba(238, 67, 67, 0.5);
}

.backBtn{
  width: 40%;
}

.addcomment {
  width: 60%;
  margin-bottom: 30px;
}
input[type="text"] {
  width: 100%;
  min-height: 30px;
}

.newBlogContainer {
  width: 50%;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.formDiv form {
  margin: 30px;
}

.formDiv form label {
  margin: 10px;
}

.formDiv{
  display: flex;
  flex-direction: column;
}


#Title{
  margin-top: 15px;
  border-radius: 10px;
  min-height: 40px;
  outline: none;
  margin-right: 3px;
  width: 60%
}

#Description{
  margin-top: 15px;
  border-radius: 10px;
  min-height: 40px;
  outline: none;
  margin-right: 3px;
  width: 60%
}

@media (max-width: 580px) {
  header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .logo {
    left: 0px;
  }
  .menu {
    right: 0px;
  }
}







