:root {
/* Used for all titles within purple boxes: 
Blog title, 
Comment title, 
Workout title, 
Exercise title */
--title-headings: 30px;
--title-color: rgba(255, 255, 255, 0.877);
--main-color-heading: rgba(5, 3, 36, 0.884);
--color-heading: rgb(116, 57, 255);
--color-heading-hover: rgb(116, 57, 255, 0.5);
--form-background-color: rgba(116, 57, 255, 0.2);
/* Used for all body text below titles *
Blog bodytext
Comment bodytext
Workout bodytext
Exercise bodytext */
--body-text: 16px;
/* */
--main-headings: 60px;
--button-text: 16px;
--button-text-color: black; 
}

.blog-layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.button-container {
  width: 100%;
  padding: 0px;
  border: 0px;
  display: flex;
  justify-content:flex-end;
}

.body-text {
  color: var(--main-color-heading);
  font-size: var(--body-text);
  text-decoration: none;
  line-height: 3rem;
}

.body-text-forms {
  color: var(--main-color-heading);
  font-size: var(--body-text);
}

.input-box {
  background-color: var(--form-background-color);
  font-size: var(--body-text);
  color: var(--color-heading);
  height: 1.5 rem;
  margin: 10px;
  border: 2px solid rgba(116, 57, 255, 0.473);
  border-radius: 8px;
  box-shadow: 0 0 25px rgba(116, 57, 255, 0.2);
}

.input-box-exercise {
  margin-top: 15px;
  border-radius: 10px;
  min-height: 40px;
  outline: none;
  margin-right: 3px;
  width: 60%;
}


body,

html {
  background-color: rgb(5, 3, 36);
  width: 100%;
}

.border {
  border: 1px solid black;
}

#font {
  font-family: "Roboto", sans-serif;
}

.font {
  font-family: "Roboto", sans-serif;
}

.f100 {
  font-weight: 100;
}

.f300 {
  font-weight: 300;
}

.f400 {
  font-weight: 400;
}

.f500 {
  font-weight: 500;
}

.f700 {
  font-weight: 700;
}

.f900 {
  font-weight: 900;
}

.change-image {
  font-size: var(--button-text);
  color: var(--button-text-color);
  cursor: pointer;
  transition: all 100ms ease-in-out;
}

.icon-model {
  width: 100vw;
  height: 100vh;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  background-color: white;
  top: 2px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.back-button,
.change-image,
#icon-button {
  font-size: var(--body-text);
  color: var(--main-color-heading);
  padding: 15px;
  margin: 10px;
  background-color: rgba(220, 220, 220, 0.384);
  border-radius: 8px;
  cursor: pointer;
  border: none;
  transition: all 100ms ease-in-out;
}

.login-error {
  color: brown;
  opacity: 0%;
  cursor: default;
}

.signup-error {
  width: 100%;
  color: brown;
  opacity: 0%;
  cursor: default;
  position: relative;
  top: 30px;
}

.image-container {
  border-radius: 10px;
  margin: 10px;
  padding: 20px 50px;
  display: flex;
  align-items: center;
  width: 60%;
  overflow-y: hidden;
  background-color: rgba(220, 220, 220, 0.185);
}

.chooseImage {
  width: 200px;
  cursor: pointer;
  transition: all 150ms ease-in-out;
}

.chooseImage:hover {
  opacity: 90%;
}

.back-button:hover {
  opacity: 60%;
}

#icon-button:hover {
  opacity: 60%;
}

.change-image:hover {
  opacity: 70%;
}

/* Landing Page */
.main {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.background {
  height: 0px;
}

.square1 {
  position: absolute;
  width: 35%;
  left: -10%;
  top: -5%;
  opacity: 0.5;
}

.square2 {
  position: absolute;
  width: 20%;
  left: 75%;
  top: 33%;
  opacity: 0.5;
}

.square3 {
  position: absolute;
  width: 10%;
  left: 20%;
  top: 80%;
  opacity: 0.5;
}

.container {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.gym-club-img {
  position: relative;
  top: -600px;
  padding-top: 10px;
  width: 350px;
}

#buttons {
  position: relative;
  left: -1000px;
}
.login {
  padding: 20px;
  padding-top: 30px;
  width: 120px;
}

.signUp {
  width: 120px;
}

.guest {
  padding: 20px;
  text-decoration: none;
  color: rgb(134, 6, 6);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.guest:hover {
  transform: scale(1.1);
  text-decoration: block;
  color: rgb(43, 0, 160);
  cursor: pointer;
}

.hover:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.formContainer {
  display: block;
  position: relative;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 307px;
}

.formContainer1 {
  display: block;
  position: relative;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 307px;
}

.title {
  width: 150px;
  padding-top: 50px;
  padding-bottom: 5px;
}

.title1 {
  width: 220px;
  padding-top: 50px;
  padding-bottom: 5px;
}

.title2 {
  width: 250px;
  padding-top: 50px;
  padding-bottom: 5px;
}

.enterField {
  font-size: var(--body-text);
  color: rgb(255, 255, 255);
  padding: 10px;
  margin: 10px;
  width: 300px;
  height: 60px;
  background-color: transparent;
  border: 2px solid rgba(116, 57, 255, 0.473);
  border-radius: 8px;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: rgba(116, 57, 255, 0.623);
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(116, 57, 255, 0.623);
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: rgba(116, 57, 255, 0.623);
}
:-moz-placeholder {
  /* Firefox 18- */
  color: rgba(116, 57, 255, 0.623);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: white;
  font-size: 16px;
  border: 2px solid rgba(116, 57, 255, 0.473);
  transition: background-color 5000s ease-in-out 0s;
}

.button {
  color: rgb(116, 57, 255);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  background-color: rgb(39, 2, 99);
  border-style: block;
  height: 40px;
  margin-top: 15px;
  width: 150px;
  border-radius: 10px;
}

.button:hover {
  transform: scale(1.2);
  cursor: pointer;
}

/* Home Page */

header {
  background-color: rgb(5, 3, 36);
  position: sticky;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  top: 0px;
  justify-content: space-between;
  width: 100%;
  z-index: 999;
  padding: 12px 25px;
}

.navBtn {
  position: relative;
  top: 40px;
  display: inline-block;
  padding: 0.7em 1.7em;
  margin: 0px 10px;
  border-radius: 10px;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.123);
  font-weight: 500;
  color: rgba(255, 255, 255, 0.747);
  text-align: center;
  transition: all 100ms ease-in-out;
  cursor: pointer;
}

.navBtn:hover {
  background-color: rgba(255, 255, 255, 0.089);
}

.logo {
  position: relative;
  left: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 300px;
  cursor: pointer;
  transition: all 100ms ease-in-out;
}

.logo:hover {
  opacity: 90%;
}

.blog-para {
  margin-bottom: 30px;
  word-break: break-word;
}

.datey {
  opacity: 40%;
  font-weight: 300;
}

.descy {
  line-height: 2rem;
}

.body {
  background-color: rgb(255, 255, 255);
  width: 100%;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.body a:hover {
  cursor: pointer;
}

.individual-blog {
  text-align: center;
  border-style: unset;
  margin: 25px;
  width: 45%;
  width: 600px;
  border-radius: 7px;
  padding: 40px;
  color: rgba(255, 255, 255, 0.877) !important;
  background-color: rgba(5, 3, 36, 0.884);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 100ms ease-in-out;
}

.individual-blog:hover {
  transform: scale(1.01);
  background-color: rgba(5, 3, 36, 0.774);
}

.feed {
  padding-bottom: 60px;
}

.blog-heading {
  word-break: break-word;
  color: var(--title-color);
  margin: 40px;
  font-size: var(--title-headings);
  text-decoration: none;
  line-height: 3rem;
}
.headingA {
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.row {
  text-align: center;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  width: 100%;
}

.aStyle {
  text-align: center;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.877) !important;
  width: 50%;
  /* margin-left: 10%; */
}

.aStyle:hover {
  color: rgba(255, 255, 255, 0.568) !important;
}

.dateCreated {
  text-align: center;
  width: 50%;
}

/* Individual Blog */

.individual-blog2 {
  text-align: center;
  border-style: unset;
  margin: 25px;
  width: 55%;
  border-radius: 7px;
  padding: 40px;
  color: rgba(255, 255, 255, 0.877) !important;
  background-color: rgba(5, 3, 36, 0.884);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* cursor: pointer; */
  transition: all 100ms ease-in-out;
}


.row2 {
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  width: 100%;
}

/* .commentSection {
  border-style: inset;
  border-radius: 10px;
  border-color: rgba(5, 3, 36, 0.884);
  width: 55%;
  text-align: center;
  font-size: 20px;
} */
/* Changed comment section to be the same as blog */
.commentSection {
  text-align: center;
  border-style: unset;
  margin: 25px;
  width: 55%;
  border-radius: 7px;
  padding: 40px;
  color: rgba(255, 255, 255, 0.877) !important;
  background-color: rgba(5, 3, 36, 0.884);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: var(--title-headings);
}

.commentSection h1 {
  margin-top: 10px;
}

.commentSection a {
  text-decoration: none;
}

.commentSection a:hover {
  text-decoration: none;
  color: #8643d3;
}

.commentHeader{
  font-size: var(--title-headings);
  color: var(--title-color);
  margin-bottom: 10px;
}

.commentHeader :nth-child(odd) {
  color: var(--color-heading);
}

.commentHeader :hover {
  color: var(--color-heading-hover);
}

.comment {
  font-size: var(--body-text);
  color: var(--title-color);
  word-break: break-word;
  margin: 20px;
}

.addcomment {
  width: 60%;
  margin-bottom: 30px;
}
/* input[type="text"] {
  font-size: var(--body-text);
} */

#comment-box {
  border-radius: 10px;
  min-height: 40px;
  outline: none;
  margin-right: 3px;
  width: 60%;
}

.btn {
  padding-top: 10px;
  display: inline-block;
  padding: 0.5em 1.7em;
  margin: 0 0.1em 0.1em 0;
  border: 0.13em solid rgba(238, 67, 67, 0.774);
  background-color: #fdfdfd;
  border-radius: 10px;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 300;
  color: #3b0579;
  text-shadow: 0 0.04em 0.04em rgba(255, 255, 255, 0.253);
  text-align: center;
  transition: all 0.5s;
  cursor: pointer;
  /* width: 120px */
}

.btn:hover {
  background-color: rgba(238, 67, 67, 0.5);
}

#comment-form {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menuBtn:hover {
  cursor: pointer;
}

/* User Page Styling */

.userContainer {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 70%;
  min-height: 350px;
  border-radius: 10px;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 60%;
}

.userImage {
  width: 230px;
  height: 250px;
  text-align: center;
}

.theImage {
  width: 100%;
  height: 100%;
}

.userDetails {
  background-color: rgba(220, 220, 220, 0.116);
  border-radius: 8px;
  padding: 50px;
  width: 85%;
  margin: 50px;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.bit {
  padding: 10px 20px;
}

.bodyStats {
  display: flex;
  flex-direction: row;
}
.bodyStats h2 {
  margin-right: 10px;
  margin-left: 10px;
}

.details h2 {
  margin-bottom: 30px;
}

.details h2:nth-child(1) {
  margin-top: 17%;
}

.stats {
  display: flex;
  flex-direction: row;
}

.stats h3 {
  margin: 30px;
}

.description {
  text-align: center;
  margin-bottom: 20px;
}

.userBtns {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: row;
}

/* New Blog Page */
.blogHeading {
  font-size: var(--main-headings);
  padding-top: 35px;
  margin: 40px;
  color: var(--main-color-heading);
}

#headingBlog {
  font-weight: 900;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.7;
}

.newBlogBackBtn {
  padding-top: 10px;
  display: inline-block;
  padding: 0.5em 1.7em;
  margin: 0 0.1em 0.1em 0;
  border: 0.13em solid rgba(238, 67, 67, 0.774);
  background-color: #fdfdfd;
  border-radius: 10px;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 300;
  color: #3b0579;
  text-shadow: 0 0.04em 0.04em rgba(255, 255, 255, 0.253);
  text-align: center;
  transition: all 0.5s;
  cursor: pointer;
  width: 10%;
}

.newBlogBackBtn:hover {
  color: black;
  background-color: rgba(238, 67, 67, 0.5);
}

.backBtn {
  width: 40%;
}

.newBlogContainer {
  width: 50%;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.formDiv form {
  /* margin: 30px; */
  width: 100%;
}

.formDiv form label {
  margin: 10px;
}

.formDiv {
  display: flex;
  flex-direction: column;
}

#Title {
  margin-top: 15px;
  border-radius: 10px;
  min-height: 40px;
  outline: none;
  margin-right: 3px;
  width: 60%;
}

#Description {
  margin-top: 15px;
  border-radius: 10px;
  min-height: 40px;
  outline: none;
  margin-right: 3px;
  width: 60%;
}

/* Workouts Page */
.workouts-container {
  text-align: center;
  border-style: unset;
  margin: 15px;
  width: 55%;
  border-radius: 10px;
  background-color: rgba(233, 84, 84, 0.616);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.workoutBtns {
  margin: 20px;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: row;
  width: 35%;
}

/* Exercises page */

#Exercise, #Sets, #Reps {
  min-height: 40px;
  width: 60%;
}

.individual-exercise {
  text-align: center;
  border-style: unset;
  margin: 25px;
  width: 70%;
  /* ccc changed from height: 200px to min-height: 200px */
  min-height: 200px;
  border-radius: 7px;
  padding: 40px;
  color: rgba(255, 255, 255, 0.877) !important;
  background-color: rgba(5, 3, 36, 0.884);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 100ms ease-in-out;
}

.exerciseHeading {
  margin: 15px;
  font-size: var(--title-headings);
}

.routine {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.routine p {
  margin: 10px;
}

.exercise-container {
  /* display: flex;
  flex-direction: row;
  padding: 10px;
  width: 100%; */
  background-color: rgb(0,0,0,0.5);
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 3fr;
}

.exercise-message {
  column-span: 2;
}

.exercise-box-container {
  /* margin-top: 50px; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  
  /* flex-direction: column;
  justify-content: center;
  align-items: center; */
  width: 100%;
}

/* =================================================== Edit Profile Page =================================================== */
.profile-stats {
  margin-top: 15px;
  border-radius: 10px;
  min-height: 40px;
  outline: none;
  margin-right: 3px;
  width: 60%;
  color: var(--main-color-heading);
  font-size: var(--body-text);
}

@media (max-width: 1024px) {
  header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
  }

  .exercise-container {
    grid-template-columns: 2fr 3fr;
  }

  .exercise-box-container {
    grid-template-columns: 1fr;
  }

  .blog-layout {
    grid-template-columns:1fr;
  }
  /* .blogHeading {
    font-size: var(--main-headings);
    margin: 0;

    ABC - Was the original class for user.handlebars ln 2
  } */

  .navBtn {
    position: inherit;
  }

  .logo {
    left: 0px;
  }
  .menu {
    right: 0px;
  }

  .individual-blog, .individual-blog2,  .addcomment, .commentSection, .userContainer {
    width: 90%;
  }
/* 
  .individual-blog2 {
    width: 90%;
  }

  .addcomment {
    width: 90%;
  }

  .commentSection {
    width: 90%;
  }

  .userContainer {
    width: 90%;
  } */

  .blogHeading {
    font-size: 25px;
  }

  .newBlogContainer {
    width: 100%;
  }

  .formDiv {
    width: 100%;
  }
}

@media (max-width: 830px) {
  .exercise-container {
    /* display: flex;
    justify-content: center;
    justify-content: center;
    border-style: solid;
    flex-direction: column; */
    grid-template-columns: 1fr;
  }

  .newExerciseContainer {
    width: 100%;
  }

  .exercise-box-container {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 424px) {
  .homeNav {
    display: none;
  }
}

@media screen and (max-width: 375px) {
  .gym-club-img {
    /* width: 250px; */
    width: 1/3fr;
  }

  #email-login,
  #password-login {
    width: 240px;
  }

  .formContainer,
  .formContainer1 {
    width: 280px;
  }

  .enterField {
    width: 250px;
  }

  .title1,
  .title2 {
    width: 150px;
  }

  .title {
    width: 100px;
  }

  .logo {
    width: 200px;
  }

  header {
    height: 150px;
    padding: none;
  }

  .menuflex {
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 280px) {

.exercise-container {
  grid-template-rows: 0fr;
}

.exercise-box-container {
  grid-template-columns: 0fr;
}

header {
  height: 250px;
  display: flex;
}

.blogHeading {
  font-size: var(--main-headings);
  margin: 0;
}

.logo {
  position: relative;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 200px;
  cursor: pointer;
  transition: all 100ms ease-in-out;
}

}

/* @media (orientation: landscape) {
  header {
    height: 80px;
    display: flex;
    flex-direction: column;
  }

  .blogHeading {
    font-size: var(--mainTitleHeadings);
    margin: 0;
  }

  .logo {
    display: none;
  }

  .navBtn {
  }
  
  .navBtn:hover {
    background-color: rgba(255, 255, 255, 0.089);
  }
} */