body,
html {
  background-color: rgb(5, 3, 36);
  width: 100%;
}

/* Landing Page */
.main {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.background {
  height: 0px;
}

.square1 {
  position: absolute;
  width: 35%;
  left: -10%;
  top: -5%;
  opacity: 0.5;
}

.square2 {
  position: absolute;
  width: 20%;
  left: 75%;
  top: 33%;
  opacity: 0.5;
}

.square3 {
  position: absolute;
  width: 10%;
  left: 20%;
  top: 80%;
  opacity: 0.5;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.gym-club-img {
  position: relative;
  top: -600px;
  padding-top: 10px;
  width: 350px;
}

#buttons {
  position: relative;
  left: -1000px;
}
.login {
  padding: 20px;
  padding-top: 30px;
  width: 120px;
}

.signUp {
  width: 120px;
}

.guest {
  padding: 20px;
  text-decoration: block;
  color: rgb(134, 6, 6);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.guest:hover {
  transform: scale(1.1);
  text-decoration: block;
  color: rgb(43, 0, 160);
  cursor: pointer;
}

.hover:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.formContainer {
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
}

.formContainer1 {
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
}

.title {
  width: 150px;
  padding-top: 50px;
  padding-bottom: 5px;
}

.title1 {
  width: 220px;
  padding-top: 50px;
  padding-bottom: 5px;
}

.title2 {
  width: 250px;
  padding-top: 50px;
  padding-bottom: 5px;
}

.enterField {
  box-shadow: 1px 1px 5px 5px rgb(39, 2, 99);
  border-style: block;
  font-size: 20px;
  color: white;
  width: 300px;
  height: 60px;
  background-color: transparent;
}

.button {
  color: rgb(116, 57, 255);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  background-color: rgb(39, 2, 99);
  border-style: block;
  height: 40px;
  margin-top: 15px;
  width: 150px;
  border-radius: 10px;
}

.button:hover {
  transform: scale(1.2);
  cursor: pointer;
}

/* Home Page */

header {
  position: sticky;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  top: 0px;
  justify-content: space-between;
  /* height: 100px */
}

.logo {
  position: relative;
  left: 20px;
  margin-top: 15px;
  width: 300px;
}

.menu {
  position: relative;
  right: 100px;
  margin-top: 40px;
  height: 50px;
  width: 50px;
}

@media (max-width: 580px) {
  header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .logo {
    left: 0px;
  }
  .menu {
    right: 0px;
  }
}

.body {
  background-color: rgb(255, 255, 255);
  margin-top: 30px;
  width: 100%;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.body a {
  width: 40%;
}

.body a:hover {
  cursor: pointer;
}

.individual-blog {
  margin: 15px;
  width: 50%;
  border-radius: 5px;
  background-color: rgb(170, 34, 34);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.seperator {
  position: relative;
  top: -40px;
}

.row {
  display: flex;
  flex-direction: row;
}

.menuBtn:hover {
  cursor: pointer;
}

.userContainer {
  border-style: solid;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.userImage {
  margin-right: 100px;
  width: 230px;
  height: 250px;
  border-style: solid;
}

.userDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.details h2 {
  margin-bottom: 30px;
}

.details h2:nth-child(1) {
  margin-top: 17%;
}

.stats {
  display: flex;
  flex-direction: row;
}

.stats h3 {
  /* margin-top: 30px; */
  margin: 30px;
}

.description {
  margin: 40px;
}
